@import "/src/common/modern-reset.css";

/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */

body {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16px;
  color: #121212;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  /* margin: 4.375rem 0.9375rem 6.875rem; */
  padding-inline: 20px;
  padding-top: 70px;
}

.logo-wraper {
  text-align: center;
  margin-bottom: 2.8125rem;
  svg {
    inline-size: 230px;
    aspect-ratio: 1/1;
  }
}

form {
  display: flex;
  flex-flow: column nowrap;

  /* 아이디 비밀번호 */
  figure {
    &:first-child {
      margin-bottom: 0.625rem;
    }

    input {
      inline-size: 100%;
      font-size: 0.875rem;
      block-size: 2.8125rem;
      padding-left: 0.5rem;
      border: 0.0625rem solid #dadada;
      background-color: #fff;

      &:focus {
        border: 0.0625rem solid #03cf5d;
        background-color: #e9f0fd;
        outline: none;
      }
    }

    figcaption {
      /* position: absolute;
      opacity: 0; */
      font-size: 0.75rem;
      color: red;
    }
  }

  .login-button {
    block-size: 2.8125rem;
    color: #fff;
    background-color: #03cf5d;
    margin-top: 1.25rem;
    border: none;
  }

  /* 체크박스 */
  .checkbox-ip-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-block: 1.25rem;

    .check-box {
      /* display: flex;
      justify-content: space-between;
      align-items: center; */

      #login-checkbox {
        position: relative;
        margin: 0;
        margin-right: 10px;
        &::after {
          content: "";
          display: block;
          position: absolute;
          background: url(../assets/unchecked.svg) no-repeat center center;
          width: 1rem;
          height: 1rem;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .ip-box {
      position: absolute;
      opacity: 0;
    }
  }
}
